*{
    box-sizing: border-box;
}
.inf{
    position: fixed;
    opacity: 0.33;
}

.modal{
    position: absolute;
    left: 500px; top: 50px;
    width: 400px;
    background-color: lightgray;
    border-radius: 8px;
}
.modal_header{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bolder;
}

.esc{
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.border{
    border: 1px solid gray;
  }
 .body_text{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
 }

 .btm_border{
    border: 1px solid gray;
    margin-bottom: 20px;
 }
 
 .close{
    width: 60px;
    height: 40px;
    border-radius: 7px;
    background-color: gray;
    color: white;
    margin-bottom: 15px;
        margin-right: 15px;
 }

 .save{
   
        width: 120px;
        height: 40px;
        border-radius: 7px;
        background-color: blue;
        color: white;
        margin-bottom: 15px;
        margin-right: 15px;
 }

 .modal_footer{
    display: flex;
    justify-content: flex-end;
 }
