*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.lead{
    color: blue;
    font-weight: bold;
}

.text_align{
    text-align: left;
}
.font_light{
    font-weight:lighter;
}
.img{
  
    object-fit: cover;
    width: 100%;
    height: 100%;
}